/* nav bar */
.mip-story-page-progress-bar {
  background: #bdc6cb; }
  .mip-story-page-progress-bar .mip-story-page-progress-bar-active {
    background: #374c58; }

mip-story {
  display: none; }

.border-bacground.border-bacground1 {
  position: relative;
  background: #f5efec; }

.border-bacground.border-bacground2 {
  background: #f5efec; }

.border-bacground.border-bacground3 {
  background: #f0e8e0; }
  .border-bacground.border-bacground3 .water-wrap .flower-wrap {
    position: absolute;
    top: 50%;
    left: 80%;
    width: 121px;
    height: 93px;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    opacity: 0; }
    .border-bacground.border-bacground3 .water-wrap .flower-wrap:nth-child(2) {
      -webkit-animation-name: flowerDown2;
      animation-name: flowerDown2;
      -webkit-animation-delay: 2s;
      animation-delay: 2s; }
    .border-bacground.border-bacground3 .water-wrap .flower-wrap:nth-child(3) {
      -webkit-animation-name: flowerDown3;
      animation-name: flowerDown3;
      -webkit-animation-delay: 3s;
      animation-delay: 3s; }
    .border-bacground.border-bacground3 .water-wrap .flower-wrap:nth-child(4) {
      -webkit-animation-name: flowerDown4;
      animation-name: flowerDown4;
      -webkit-animation-delay: 4s;
      animation-delay: 4s; }
    .border-bacground.border-bacground3 .water-wrap .flower-wrap:nth-child(5) {
      -webkit-animation-name: flowerDown5;
      animation-name: flowerDown5;
      -webkit-animation-delay: 5s;
      animation-delay: 5s; }
    .border-bacground.border-bacground3 .water-wrap .flower-wrap .flower {
      width: 100%;
      height: 100%;
      background: url("../img/11/flower.png") 0 0 no-repeat;
      background-size: cover;
      -webkit-animation: windBig 2s infinite ease-in-out;
      animation: windBig 2s infinite ease-in-out; }

@-webkit-keyframes flowerDown2 {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate(-414px, 290px);
    transform: translate(-414px, 290px); } }

@keyframes flowerDown2 {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate(-414px, 290px);
    transform: translate(-414px, 290px); } }

@-webkit-keyframes flowerDown3 {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate(-380px, 170px);
    transform: translate(-380px, 170px); } }

@keyframes flowerDown3 {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate(-380px, 170px);
    transform: translate(-380px, 170px); } }

@-webkit-keyframes flowerDown4 {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate(-440px, 190px);
    transform: translate(-440px, 190px); } }

@keyframes flowerDown4 {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate(-440px, 190px);
    transform: translate(-440px, 190px); } }

.border-bacground .water-wrap {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: hidden; }
  .border-bacground .water-wrap mip-img {
    position: relative;
    left: 0;
    width: 100%;
    height: auto;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }
  .border-bacground .water-wrap .water {
    position: absolute;
    width: 36px;
    height: 45px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-animation-name: drop;
    animation-name: drop;
    -webkit-animation-duration: 3.2s;
    animation-duration: 3.2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }
    .border-bacground .water-wrap .water.water1 {
      background-image: url("../img/3/water1.png");
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s; }
    .border-bacground .water-wrap .water.water2 {
      background-image: url("../img/3/water2.png");
      -webkit-animation-delay: 0.4s;
      animation-delay: 0.4s; }
    .border-bacground .water-wrap .water.water3 {
      background-image: url("../img/3/water3.png");
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s; }
    .border-bacground .water-wrap .water.water1 {
      top: 72.4%;
      left: 66%; }
    .border-bacground .water-wrap .water.water2 {
      top: 77.4%;
      left: 60%; }
    .border-bacground .water-wrap .water.water3 {
      top: 49.4%;
      left: 59%; }

.border-box1 mip-img:nth-child(1) {
  margin-top: -30px; }

.border-box.border-box2 .text-wrap div.text-left {
  height: 40%;
  padding-bottom: 40%; }

.border-box .text-wrap div.text-left {
  height: 40%;
  padding-bottom: 10%;
  padding-left: 20px; }
  .border-box .text-wrap div.text-left p:nth-child(1) {
    font-family: 'Heiti SC'; }

.border-box .text-wrap div.text-right {
  height: 40%;
  padding-top: 40%;
  padding-right: 15px; }
  .border-box .text-wrap div.text-right .text-place {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    padding-left: 23px; }
    .border-box .text-wrap div.text-right .text-place p {
      width: 15px;
      font-size: 12px;
      color: #184050;
      line-height: 1; }
      .border-box .text-wrap div.text-right .text-place p:nth-child(1) {
        height: 33px;
        font-size: 27px;
        padding-left: 5px;
        margin-left: 5px;
        border-left: 1px solid #184050;
        vertical-align: text-top; }
      .border-box .text-wrap div.text-right .text-place p span {
        display: block;
        -webkit-transform: rotate(-90deg) translate(4px, -2px);
        -ms-transform: rotate(-90deg) translate(4px, -2px);
        transform: rotate(-90deg) translate(4px, -2px); }

.rank-wrap .branch-wrap {
  position: relative;
  overflow: hidden; }
  .rank-wrap .branch-wrap .branch {
    position: absolute;
    top: -10px;
    right: -10px; }
    .rank-wrap .branch-wrap .branch mip-img {
      width: 225px;
      height: auto;
      -webkit-transform-origin: 160px top;
      -ms-transform-origin: 160px top;
      transform-origin: 160px top;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-animation: wind 5s infinite ease-in-out;
      animation: wind 5s infinite ease-in-out; }

.rank-wrap.rank-wrap2 {
  background: #f3ede4; }
  .rank-wrap.rank-wrap2 mip-story-layer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .rank-wrap.rank-wrap2 mip-story-layer mip-img {
      margin-top: 28px; }
    .rank-wrap.rank-wrap2 mip-story-layer .rank-left .rank p:nth-child(1) {
      line-height: 1.1;
      padding-top: 5px; }
    .rank-wrap.rank-wrap2 mip-story-layer .rank-left .rank:nth-child(2) p:nth-child(1) {
      position: relative; }
      .rank-wrap.rank-wrap2 mip-story-layer .rank-left .rank:nth-child(2) p:nth-child(1)::after {
        display: block;
        position: absolute;
        top: -13px;
        left: 0;
        width: 23px;
        height: 2px;
        content: '';
        background: #816b4b; }
    .rank-wrap.rank-wrap2 mip-story-layer .rank-left p {
      width: 81px;
      color: #816b4b !important; }
    .rank-wrap.rank-wrap2 mip-story-layer .rank-right {
      color: #816b4b !important; }

.rank-wrap mip-img {
  width: 100%;
  height: auto; }

.rank-wrap .rank-detail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 36px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .rank-wrap .rank-detail p {
    color: #5f3547; }
  .rank-wrap .rank-detail .rank-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .rank-wrap .rank-detail .rank-left .rank {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .rank-wrap .rank-detail .rank-left .rank:nth-child(1) {
        padding-bottom: 39px; }
      .rank-wrap .rank-detail .rank-left .rank p {
        width: 81px;
        font-size: 27px; }
        .rank-wrap .rank-detail .rank-left .rank p:nth-child(2) {
          width: 151px;
          font-size: 12px;
          color: #7c183c;
          padding-left: 30px;
          -webkit-box-flex: 0;
          -webkit-flex-grow: 0;
          -ms-flex-positive: 0;
          flex-grow: 0;
          padding-top: 5px; }
  .rank-wrap .rank-detail .rank-right {
    width: 20px;
    font-size: 14px;
    color: #5f3547;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    padding-top: 5px;
    line-height: 1; }

.data-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .data-wrap mip-img {
    position: relative;
    left: 5px;
    width: 136px;
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s; }
    .data-wrap mip-img::before, .data-wrap mip-img::after {
      display: block;
      position: absolute;
      left: 50%;
      width: 86px;
      height: 1px;
      content: '';
      background: #5f3547;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      margin-left: -5px; }
    .data-wrap mip-img::before {
      top: -15px; }
    .data-wrap mip-img::after {
      bottom: -15px; }
  .data-wrap p {
    width: 86px; }
    .data-wrap p:nth-child(1) {
      font-size: 27px;
      color: #5e1d39; }
    .data-wrap p:nth-child(2) {
      font-size: 14px;
      color: #94747e;
      margin: 9px 0px 45px 0px;
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s; }
    .data-wrap p:nth-child(4) {
      font-size: 18px;
      color: #5e1d39;
      text-align: left;
      margin: 29px 0px 36px 0px;
      padding-left: 5px;
      -webkit-animation-delay: 2.7s;
      animation-delay: 2.7s; }
    .data-wrap p:nth-child(5) {
      font-size: 10px;
      color: #94747e;
      text-align: left;
      -webkit-animation-delay: 3.4s;
      animation-delay: 3.4s; }

.text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 350px; }
  .text p {
    width: 30px;
    font-size: 27px;
    color: #816b4b;
    line-height: 1.1;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    vertical-align: top;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start; }
    .text p:nth-child(2) {
      font-size: 18px;
      margin-left: 14px;
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s; }

@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  60% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes bounceIn {
  0% {
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  60% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

.bounce-in {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn; }

@-webkit-keyframes bounceFadeIn {
  0% {
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  60% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes bounceFadeIn {
  0% {
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  60% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

.bounce-fade-in {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceFadeIn;
  animation-name: bounceFadeIn; }

@-webkit-keyframes drop {
  0% {
    -webkit-transform: scale3d(0, 0, 0) translateY(0);
    transform: scale3d(0, 0, 0) translateY(0);
    opacity: 0; }
  70% {
    -webkit-transform: scale3d(0.2, 0.2, 0.2) translateY(0);
    transform: scale3d(0.2, 0.2, 0.2) translateY(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale3d(1, 1, 1) translateY(200px);
    transform: scale3d(1, 1, 1) translateY(200px);
    opacity: 1; } }

@keyframes drop {
  0% {
    -webkit-transform: scale3d(0, 0, 0) translateY(0);
    transform: scale3d(0, 0, 0) translateY(0);
    opacity: 0; }
  70% {
    -webkit-transform: scale3d(0.2, 0.2, 0.2) translateY(0);
    transform: scale3d(0.2, 0.2, 0.2) translateY(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale3d(1, 1, 1) translateY(200px);
    transform: scale3d(1, 1, 1) translateY(200px);
    opacity: 1; } }

@-webkit-keyframes wind {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg); } }

@keyframes wind {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg); } }

@-webkit-keyframes windBig {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(28deg);
    transform: rotate(28deg); } }

@keyframes windBig {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(28deg);
    transform: rotate(28deg); } }
